<%- layout('layouts/boilerplate') %>

<div class="container border rounded-3 my-5">
    <h1 class="display1 text-center my-5">Editare proiect</h1>
    <form action="/admin/<%= project._id %>?_method=PUT" method="POST">
        <div class="mb-3">
          <label for="project" class="form-label">Numele proiectului:</label>
          <input
            type="text"
            class="form-control"
            id="project"
            aria-describedby="project"
            name="name" 
            value="<%= project.name %>"/>
        </div>
        <div class="mb-3">
          <label for="description" class="form-label d-block">Descrierea proiectului:</label>
          <textarea
            id="description"
            name="description"
            rows="10"
            style="width: 100%"><%= project.description %></textarea>
        </div>

        <div class="d-grid gap-2 col-6 mx-auto">
          <button class="btn btn-dark">Actualizare</button>
        </div>
      </form>
</div>