<%- layout('layouts/boilerplate') %>

<h1>Add a new project</h1>

<form method="POST" action="/" enctype = "multipart/form-data">
    <div class="mb-3">
        <input type="file" name="file"/>
    </div>
    
    <button>Create</button>
</form>